body {
    background: #333
}

.box{
    background: #333;
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: myanimation;
    animation-duration: 15s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes myanimation {
    0% {background-color: #333; border-radius: 0 0 0 0;}
    25% {background-color: blueviolet; border-radius: 50% 0 0 0;}
    35% {background-color: rebeccapurple; border-radius: 50% 50% 0 0;}
    45%{background-color: plum; border-radius: 50% 50% 50% 0;}
    55%{background-color: orchid; border-radius: 50% 50% 50% 50%;}
    65%{background-color: blueviolet;  border-radius: 50% 50% 50% 0;}
    75% {background-color: rebeccapurple; border-radius: 50% 50% 0 0;}
    95%{background-color: plum; border-radius: 50% 0 0 0;}
   100% {background-color: #333; border-radius: 0 0 0 0;}
}




